<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Round About - Start Bootstrap Template</title>

    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="css/round-about.css" rel="stylesheet">
<!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/css/materialize.min.css">

<!-- Fonts & Icon Pack -->
 <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

 <!--Import jQuery before materialize.js-->
<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>




</head>

<body>

	<!-- Navbar -->
	<nav>
	        <div class="nav-wrapper" style="padding-left: 10px">
	        <a href="#" class="brand-logo">Web base moses translation - Moseshing</a>
	        <ul id="nav-mobile" class="right hide-on-med-and-down">
	                <li><a href="/about">About Us</a></li>
	        </ul>
	    </div>
	</nav>

    <!-- Page Content -->
    <div class="container">

        <!-- Introduction Row -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">About Us
                    <small>Thanks for visiting!</small>
                </h1>
                <p>We are a young deticated group of students from dublin city university. The web based moses translator serves a purpose to show how effective and powerful the moses translation egine is. Have fun playing with it!</p>
            </div>
        </div>

        <!-- Team Members Row -->
        <div class="row">
            <div class="col-lg-12">
                <h2 class="page-header">Our Team</h2>
            </div>
            <div class="col-lg-4 col-sm-6 text-center ">
                <img class="img-circle img-responsive img-center" src="https://media.licdn.com/mpr/mpr/shrinknp_400_400/AAEAAQAAAAAAAAZuAAAAJGFhMDlhNzc4LTQxNjktNGFjNS1iN2IwLWUwODY4YWQyNDU5Mw.jpg" alt="">
                <h3>Sebastian J.
                    <small>Master Coordinator</small>
                </h3>
                <p>Co-founder of Moseshing. Automate all the things ! A.K.A Sabi.</p>
            </div>
            <div class="col-lg-4 col-sm-6 text-center">
                <img class="img-circle img-responsive img-center" src="https://media.licdn.com/mpr/mpr/shrinknp_400_400/AAEAAQAAAAAAAAdyAAAAJDk5NDk3MTY4LWI2YzYtNDg2Zi1iNDExLWFkYjJkMTAyMjU5NA.jpg" alt="">
                <h3>Ruben V.<br>
                    <small>Container Master</small>
                </h3>
                <p>Co-founder of Moseshing. Containers, containers and more containers! A.K.A Ruppert.</p>
            </div>
            <div class="col-lg-4 col-sm-6 text-center">
                <img class="img-circle img-responsive img-center" src="https://media.licdn.com/mpr/mpr/shrinknp_400_400/AAEAAQAAAAAAAALJAAAAJGM4NjQyZjEzLTg4ZGUtNGFjMy1hMzRiLWRiYWMzMjgwZDM1NQ.jpg" alt="">
                <h3>Daniel R.<br>
                    <small>Art Director</small>
                </h3>
                <p>Co-founder of Moseshing. Makes HTML look sexy. A.K.A Redneck.</p>
            </div>
        </div>

        <hr>

        <!-- Footer -->
        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p>Copyright &copy; Moseshing 2016. All rights reserved.</p>
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
        </footer>

    </div>
    <!-- /.container -->

    <!-- jQuery -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

</body>

</html>
