<!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/css/materialize.min.css">

<!-- Fonts & Icon Pack -->
 <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

 <!--Import jQuery before materialize.js-->
<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>


<!-- Navbar -->
<nav>
    <div class="nav-wrapper" style="padding-left: 10px">
        <a href="/home" class="brand-logo">Web based moses translation - Moseshing</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a href="/about">About Us</a></li>
        </ul>
    </div>
</nav>


<div ng-controller="HomeController" class="md-padding" ng-cloak="" flex>

 <!--Input Form-->
 <div class="row">
    <form class="col s12">
      	<div class="row">

	      	<!-- Langualge Input Form -->
	        <div class="input-field col s6">

	        	<!-- Input Text Area -->
	          	<textarea id="icon_prefix2" id="input" ng-model="input" class="materialize-textarea" style="padding-top: 20%"></textarea>
	          	<label for="textarea1"><i class="material-icons">mode_edit</i> Input</label>

	        </div>

	        <!-- Language Output Form -->
	        <div class="input-field col s6">

	        	<!-- Output Text Area -->
	          	<textarea id="textarea1" class="materialize-textarea test" style="padding-top: 20%"disabled="disabled">{{output}}</textarea>
	          	<label for="textarea1"><i class="material-icons">chat_bubble_outline</i></label>

	        </div>

	        <!-- Submit Button -->
	        <div ng-hide="running" class="input-field col s12">
	        	<a class="waves-effect waves-light btn-large bcol" type="submit" style="width: 100%" ng-click="translate()">Translate</a>
	        </div>
	         <div ng-show="running" class="progress">
      			<div class="indeterminate"></div>
  			</div>

      	</div>
    </form>
 </div>
<hr>
 <!-- Cards -->
<div class="row">
	<div class="col s12">
		<row>
		  	  <!-- Bleu Score Card -->
		      <div class="col s4">

		      	<div class="chip" style="width: 100%">
		      		<i class="material-icons">message</i>
    				<p class="test">Input Size : {{inputSize}}</p>  
  				</div>

		      </div>

		      <!-- Metro Score Card -->
		      <div class="col s4">

		      	<div class="chip" style="width: 100%">
		      		<i class="material-icons">query_builder</i>
    				<p class="test">Translation Duration : {{translationDuration}}</p>
  				</div>
		      </div>

		      <!-- Nist Score Card -->
		      <div class="col s4">

		      	<div class="chip" style="width: 100%">
		      		<i class="material-icons">message</i>
    				<p class="test">Output Size : {{outputSize}}</p>
  				</div>
  				<hr>
		      </div>
		</row>
	</div>
</div>

<div class="row">
	<div class="col s12">
		<row>
			<div class="col s6">
			  	<hr>
		        <div class="card-panel dcol darken-1">
		          <span class="white-text"><h4>Translation Engine <br>Bleu Score</h4>
		          <hr>
		          <h6 class=" scoreB">47.82</h6> 
		          </span>
		        </div>
		    </div>
		    <div class="col s6">
		        <hr>
		        <div class="card-panel dcol darken-1">
		          <span class="white-text"><h4>String reference <br> translation </h4>
		          <hr>
		          <h6 class=" scoreB">{{bleu_score}}</h6> 
		          </span>
		        </div>
			</div>
		</row>
	</div>
</div>

</div>