nav{
	background-color: #34495e !important;
}

.test{
	color: #34495e !important;
	font-weight: bold;
}

.bcol{
	background-color: #d35430 !important;
}

.dcol{
	background-color: #34495e !important;
}

.scoreB{
	font-weight: bold;
}